<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pointy Pipeline</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <div style="text-align:center;">
        <h1>Find Closest Organisations</h1>
        <form action="/getclosestorganisations" method="POST">
            Longitude: <input name="longitude" class="form-control" required placeholder="Longitude"><br>
            Latitude: <input name="latitude" class="form-control" required placeholder="Latitude"><br>
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>

    <br>

    {% if organisation_objects %}
    <div class="organisations">
        <table class="table">
      <thead>
        <tr>
          <th scope="col">Organisation</th>
          <th scope="col">Full Address</th>
          <th scope="col">ID Number of Store</th>
          <th scope="col">URL</th>
          <th scope="col">Store Type</th>
          <th scope="col">Owner ID</th>
          <th scope="col">Owner</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for organisation in organisation_objects %}
        <tr id="{{ loop.index }}">
          <td scope="row" contenteditable="false">{{ organisation['name'] }}</td>
          <td contenteditable="false">{{ organisation['full_address'] }}</td>
          <td contenteditable="false">{{ organisation['id_num'] }}</td>
          <td>{{ organisation['url'] }}</td>
          <td contenteditable="false">{{ organisation['store_type'] }}</td>
          <td>{{ organisation['owner_id'] }}</td>
          <td>{{ organisation['owner_name'] }}</td>
          <td><button class="btn btn-success" onclick="edit_row($(this), '{{ organisation['id'] }}')">Edit</button> <button class="btn btn-danger" onclick="display_modal('{{ organisation['name'] }}', '{{ organisation['id'] }}', '{{ loop.index }}')">Delete</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    <form action="/printclosestorganisations" method="POST" target="_blank">
      <input type="hidden" name="longitude" value="{{longitude}}"/>
      <input type="hidden" name="latitude" value="{{latitude}}"/>
      <input type="submit" class="btn btn-success" value="Print Table">
    </form>

    <div style="text-align:center">

    <strong><p id="delete_edit"></p></strong>
    </div>

     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel">Are you sure you want to delete the following organisation: <span id="org_name"></span>?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" id="delete_button" class="btn btn-success" data-dismiss="modal" onclick="">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    {% endif %}






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="{{url_for('static', filename='index.js')}}"></script>


  </body>
</html>