<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pointy Pipeline</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
 <div id="printable">
        <h1>Closest Organisations to: {{longitude}}, {{latitude}}</h1>

    <br>

    {% if organisation_objects %}
    <div class="organisations">
        <table class="table">
      <thead>
        <tr>
          <th scope="col">Organisation</th>
          <th scope="col">Full Address</th>
          <th scope="col">ID Number of Store</th>
          <th scope="col">URL</th>
          <th scope="col">Store Type</th>
          <th scope="col">Owner ID</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
      <tbody>
        {% for organisation in organisation_objects %}
        <tr id="{{ loop.index }}">
          <td scope="row" contenteditable="false">{{ organisation['name'] }}</td>
          <td contenteditable="false">{{ organisation['full_address'] }}</td>
          <td contenteditable="false">{{ organisation['id_num'] }}</td>
          <td>{{ organisation['url'] }}</td>
          <td contenteditable="false">{{ organisation['store_type'] }}</td>
          <td>{{ organisation['owner_id'] }}</td>
          <td>{{ organisation['owner_name'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    {% endif %}

 </div>






    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script>
        $( window ).on("load", function() {
            var printContents = document.getElementById('printable').innerHTML;
             var originalContents = document.body.innerHTML;
             document.body.innerHTML = printContents;
             window.print();
             window.close()
        });
	</script>


  </body>
</html>